.login-container {
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  background: #F0EAD6;
  color: #000;
  border-radius: 8px;
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #000;
  border-radius: 5px;
  background: #F0EAD6;
  color: #000;
}

button {
  width: 100%;
  padding: 10px;
  background: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #F0EAD6;
}

button:hover {
  background: #F0EAD6;
  color: #000;
  border: 1px solid #000;
}
